.button {
  background-color: var(--control-color);
  cursor: pointer;
  color: var(--text-primary-color);
  font-size: 16px;
  border: 0;
}

.button:hover {
  background-color: var(--control-hover-color);
}
