.tab {
  cursor: pointer;
}

.label {
  color: var(--text-secondary-color);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}

.activeTab {
  border-bottom: 3px solid var(--accent-state-color);
}

.activeTab > h2 {
  color: var(--text-primary-color);
}

@media (max-width: 768px) {
  .label {
    font-size: 20px;
  }
}
